* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

/* Classe oara acessibilidade */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


body {
    background: #f8f8f8;
}

header, footer {
    animation: 3s power-bg infinite alternate;
    background-color: #cc0066;
    color: #fff;
}

header {
    width: 100%;
    padding: 2rem 3rem;
    border-bottom: 4px solid #861028;
}

header h1 {
    text-shadow: 2px 2px #861028;
}

.logo-css u {
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 10px 2px #edb515;
}

.logo-css i {
    color: #edb515;
}

.logo-css,
.logo-css u,
.logo-css i {
    font-family: 'Codystar', cursive;
}

.contribute {
    font-size: 0.9em;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    transition: .3s all;
}
.contribute i {
    font-weight: normal;
}

.contribute:hover {
    color: #000;
}

.fork-me {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.main {
    margin: 1rem;
    text-align: center;
}

.headline {
    margin: 3rem 2rem;
}

.headline p {
    font-size: 2rem;
    color: #333;
}

.headline h2 {
    color: #444;
}

.search-form {
    margin: 2rem 2rem;
}

.search {
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 0.3rem;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.card {
    background: #fff;
    border: solid 1px #eee;
    border-radius: .3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    display: inline-block;
    margin: 1.5rem 1rem;
    padding: 1.5rem 1rem;
    width: 270px;
    height: 370px;
    vertical-align: top;
    position: relative;
    transition: .3s all;
}

.card:hover {
    border-radius: 100px 100px .3rem .3rem;
    animation: none !important;
    background: #ffdfef;
    color: #cc0066;
}

.card:hover img {
    transform: scale(1.3) translateY(-15px);
    box-shadow: 0 0 20px 3px #edb515;
}

.card:nth-of-type(odd) {
    animation: 2s power-scale-odd infinite alternate;
}

.card:nth-of-type(even) {
    animation: 2s power-scale-even infinite alternate;
}

.card:hover ul.tags li {
  background: #cc0066;
  color: #fff;
}

.card h1 {
    color: #cc0066;
    overflow: hidden;
    margin: 0.5rem 0;
}

.card .location {
    color: #666;
}

.card .photo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    transition: .5s all;
    display: block;
}

footer {
    text-align: right;
    width: 100%;
    bottom: 0px;
    padding: 0.8rem 1.3rem;
}

footer img {
    width: 20px;
}

.after-tags {
    position: absolute;
    bottom: 20px;
    width: 235px;
    background: #fff;
    padding: 10px 0;
}

.after-tags::after {
  background: #edb515;
  content: '';
  width: 100%;
  height: 5px;
  display: block;
  position: absolute;
  top: 0;
}

.social-media img {
    width: 29px;
    display: inline;
}

ul.social-media {
    padding: 0.5rem 0 0;
    list-style-type: none;
}

ul.social-media li {
    display: inline;
    height: 29px;
    margin: 0 2px;
}

ul.social-media li a {
    color: #333;
}

ul.social-media i {
    transition: .3s all;
}

ul.social-media i:hover {
    color: #cc0066;
    transform: scale(1.2);
}

ul.social-media i.fa-twitter-square:hover {
    color: #006dbf;
    text-shadow: 0 1px #fff, 0 2px 10px #006dbf;
}

ul.social-media i.fa-linkedin-square:hover {
    color: #0077b5;
    text-shadow: 0 1px #fff, 0 2px 10px #0077b5;
}

ul.social-media i.fa-github-square:hover {
    color: #732a82;
    text-shadow: 0 1px #fff, 0 2px 10px #732a82;
}

ul.social-media i.fa-facebook-square:hover {
    color: #3b5998;
    text-shadow: 0 1px #fff, 0 2px 10px #3b5998;
}

ul.social-media i.fa-behance-square:hover {
    color: #0057ff;
    text-shadow: 0 1px #fff, 0 2px 10px #0057ff;
}

ul.social-media li.hidden {
    visibility: hidden;
    display: none;
}

ul.tags {
    max-height: 120px;
    list-style-type: none;
    padding: 0 0 10px;
    margin: 0.5rem;
    overflow-y: auto;
}

ul.tags li {
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    color: #444;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem;
    font-size: 0.8rem;
    transition: .3s all;
}

.cidade {
    font-size: 0.8rem;
}

@media only screen and (max-device-width: 480px) {
    header {
        padding: 2rem;
    }

    .contribute {
        font-size: 1.1rem;
    }

    .main {
        margin: 0 auto;
    }

    .headline {
        margin: 2rem;
        text-align: left;
    }

    .headline p {
        font-size: 1.8rem;
    }

    .headline h2 {
        margin-top: 1.3rem;
    }
}

@media only screen and (max-device-width: 360px) {
    header h1 {
        margin-bottom: 0.5rem;
    }
}

@keyframes power-bg {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(3);
  }
}

@keyframes power-scale-odd {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(1.05)
  }
}

@keyframes power-scale-even {
  0% {
    transform: scale(1.05)
  }
  100% {
    transform: scale(1)
  }
}