* {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 auto;
	font-family: sans-serif;
}

header, footer {
	background-color: #338A88;
	color: #fff;
	padding: 2%;
}

.main {
	margin: 2%;
	text-align: center;
}

.card {
	border: solid 1px #000;
	display: inline-block;
	padding: 2%;
	margin: 2%;
	width: 250px;
}

.card img {
	border-radius: 50%;
}

footer {
	text-align: right;
}