* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

body {
  padding-bottom: 140px;
}

header, footer {
    background-color: #cc0066;
    color: #fff;
}

header {
    text-align: center;
    width: 100%;
    padding: 2rem;
}

header h1 {
    text-shadow: 2px 2px #861028;
}

.contribute {
    position: relative;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    text-align: right;
    padding: 0.8rem 1.5rem;
}

.contribute a {
    text-decoration: none;
    font-size: 0.9em;
    color: #777;
}

.contribute a:hover {
    color: #333;
}

.main {
    margin: 1rem;
    text-align: center;
}

.search-form {
    margin: 2rem 2rem 0;
}

.search {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
}

.card {
    border: solid 1px #ccc;
    border-radius: 0.3rem;
    display: inline-block;
    margin: 1.5rem 1rem;
    width: 270px;
}

.card img {
    border-radius: 50%;
}

.card .photo {
    height: 80px;
    width: 80px;
    margin-top: 2rem;
}

footer {
    text-align: right;
    width: 100%;
    bottom: 0px;
    position: fixed;
    padding: 0.8rem 1.3rem;
}

footer img {
    width: 20px;
}

.social-media img {
    width: 29px;
    display: inline;
}

ul.social-media {
    margin-bottom: 1.5rem;
    padding: 0.5rem 0 0;
    list-style-type: none;
}

ul.social-media li {
    display: inline;
}

ul.social-media li.hidden {
    visibility: hidden;
}

ul.tags {
    list-style-type: none;
    padding: 0;
    margin: 0.5rem;
    height: 100px;
    overflow: hidden;
}

ul.tags li {
    display: inline-block;
    background-color: #ccc;
    border-radius: 10px;
    color: #666;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem;
    font-size: 0.8rem;
}

.cidade {
    font-size: 0.8rem;
}

@media only screen and (max-device-width: 480px) {
    .contribute {
        text-align: center;
    }
}
