* {
    font-family: 'Open Sans', sans-serif;
}

header, footer {
    background-color: #cc0066;
    color: #fff;
    padding: 2%;
}

header {
    text-align: center;
}

header h1 {
    font-weight: 300;
}

.navbar-right {
    float: right;
}

.navbar {
    border-radius: 0px !important;
}

.main, .search-form {
    margin: 2%;
    text-align: center;
}

.card-wrapper {
    display: inline-block;
}

.card {
    padding-top: 2%;
    margin: 2%;
    border: solid 1px #ccc;
    border-radius: 4%;
}

.card h3 {
    height: 24px;
    overflow: hidden;
}

.card img {
    border-radius: 50%;
}

.card .photo {
    height: 80px;
    width: 80px;
}

.card * {
    margin-bottom: 5%;
}

footer {
    text-align: right;
}

footer img {
    width: 50px;
}

.social-media img {
    width: 29px;
    display: inline;
}

ul.social-media {
    padding-left: 0px;
    list-style-type: none;
    height: 42px;
}

ul.social-media li {
    display: inline;
}

ul.tags {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 150px;
    overflow: hidden;
}

ul.tags li {
    display: inline-block;
    background-color: #ccc;
    border-radius: 10px;
    color: #666;
    padding: 2px 6px;
    margin: 2px;
    font-size: 1.3rem;
}

.cidade {
    font-size: 0.8rem;
}

ul.social-media li.hidden {
    visibility: hidden;
}
